@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div id="table-section" class="p-5 col-12 col-md-8 col-lg-8 col-xl-8">
            <h4>List Table</h4>
            <div class="row cards">
                @foreach (var table in Model.Tables)
                {
                    <div class="col-sm-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@table.Name</h5>
                                <p class="card-text">Status: @(table.IsReady ? "idle" : "Order Ongoin..")</p>
                                <a href="#" class="btn btn-primary">Create Order</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="food-section" class="p-5 col-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Menus</h4>
            <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p>@(item.IsReady ? "Ready" : "Not Ready")</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section styles {
    <style>
        .card:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.01);
        }
    </style>
}