@page
@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login- Food Order Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodOrderClient.styles.css" asp-append-version="true" />

    <style>
        .form-login {
            min-width: 300px;
            position: absolute;
            text-align: center;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="container">
        <form class="form-login" method="post">
            @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"]?.ToString()))
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @Html.Raw(TempData["ErrorMessage"]?.ToString())
                </div>
            }
            <h3 class="my-4">Login</h3>
            <div class="form-group">
                <input class="form-control input-lg" type="text" name="username" id="username" placeholder="username" id="username" asp-for="Username"/>
            </div>
            <div class="form-group">
                <input class="form-control input-lg" type="password" name="password" placeholder="password" asp-for="Password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block mb-4">Sign In</button>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>